<!DOCTYPE html>
<html lang="zh-Hans">
<head> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="copyright" content="FT中文网">
  <meta name="robots" content="index,follow">
  <meta name="author" content="FTC Interactive Graphics"> 
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />

  {{> meta}}

  <!-- smoosh-->
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>

<!-- <div class="o-barrier o-barrier--bottom" id="barrier-new">
  <div class="o-barrier__wrapper">
    <p class="o-barrier__message">亲爱的读者，您在30天内连续阅读了<span></span>篇以上文章，如果您喜欢FT中文网，我们诚邀您登录访问或免费注册为FT中文网的会员。</p>
    <div class="o-barrier__action">
      <a href="http://user.ftchinese.com/register/?ccode=1B110427" class="o-register">免费注册</a>
      <a href="http://user.ftchinese.com/login" class="o-login">登录</a>
    </div>
    <button class="o-barrier__close">阅读完本文以后再注册或登录</button>
  </div>
</div> -->

<div class="overlay-container" id="overlay-login">
    <div class="overlay-inner">
        <div class="overlay-bg" data-parentid="overlay-login"></div>
        <div class="overlay-content-outer">
            <div class="overlay-content-inner">
                <div class="overlay-content">
                    <div class="overlay-title">登录<i class="overlay-close" data-parentid="overlay-login">×</i></div>
                    <form method="post" action="/users/login">
                        <div class="input-title" id="login-reason"></div>
                        <div class="input-title">电子邮件/用户名</div>
                        <div class="input-container">
                            <input type="text" class="input-oneline" name="username" id="ft-login-input-username">
                        </div>
                        <div class="input-title">密码</div>
                        <div class="input-container">
                            <input type="password" class="input-oneline" name="password">
                        </div>
                        <div class="input-title input-submit-container">
                            <input type="checkbox" class="checkbox" value="1" checked="checked" name="saveme" id="ft-login-input-remember">记住我
                            <input class="input-submit" type="submit" value="提交">
                        </div>
                        <div class="input-title"><a href="/users/findpassword" class="blue-link">找回密码</a></div>
                        <div class="input-title"><a href="http://user.ftchinese.com/register" class="blue-link">免费注册</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="scripts/main.js"></script>
</body>


</html>